auto-install-peers=true
hoist = false
lockfile=true
node-linker=hoisted
provenance = true
save-exact=true
strict-peer-dependencies=false
tag-version-prefix=""
engine-strict=true
legacy-peer-deps=true
