{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": true,
  "rangeStart": 0,
  "requirePragma": true,
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "arrowParens": "always"
}
